.actions-products {
  margin-bottom: 31px;
  padding: 0 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 56px;
    padding: 0 50px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 50px;
    margin: 0 auto;
    max-width: 1150px;
  }
}

.actions-products__wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    width: 100%;
    gap: 0 42px;
    grid-template-columns: 292px 334px;
    grid-template-areas:
      "up mid"
      "down mid";
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    gap: 0 58px;
    grid-template-columns: 467px 525px;
  }
}

.actions-products__top-container {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    justify-content: flex-start;
  }
}

.actions-products__container {
  @media (min-width: @tablet-width) {
    grid-area: up;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    padding-top: 153px;
    padding-left: 175px;
  }
}

.actions-products__price-container {
  @media (min-width: @tablet-width) {
    grid-area: down;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    padding-left: 175px;
  }
}

.actions-products__image-container {
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    grid-area: mid;
    display: flex;
    flex-direction: column;
    width: 334px;
    height: 404px;
  }

  @media (min-width: @desktop-width) {
    width: 525px;
    height: 636px;
  }
}

.actions-products__image {
  @media (min-width: @tablet-width) {
    background-image: url("/img/triple-set-tablet.jpg");
    background-repeat: no-repeat;
    width: 334px;
    height: 404px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("/img/triple-set-desktop.jpg");
    background-repeat: no-repeat;
    width: 525px;
    height: 636px;
  }
}

.actions-products__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin: 0;

  @media (min-width: @desktop-width) {
    order: 2;
    margin-left: 0;
    padding-left: 61px;
    padding-top: 61px;
    font-size: 53px;
    line-height: 57px;
  }
}

.actions-products__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;

  @media (min-width: @desktop-width) {
    margin: 0;
    padding-left: 32px;
    padding-top: 69px;
  }
}

.actions-products__text br {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.actions-products__description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.actions-products__table {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #444444;
}

.actions-products__price {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
}
