.actions-products {
  margin-bottom: 31px;
  padding: 0 30px;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    margin-bottom: 56px;
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 668px;
    gap: 0 42px;
    grid-template-areas:
      "up up"
      "middle image"
      "down image";
  }

  @media (min-width: @desktop-width) {
    max-width: 1050px;
    grid-template-areas:
      "up image"
      "middle image"
      "down image";
  }
}

.actions-products__top-container {
  grid-area: up;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-start;
    grid-column: 1 / 3;
    grid-row: 1;
    z-index: 2;
  }
}

.actions-products__container {
  @media (min-width: @tablet-width) {
    grid-area: middle;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    padding-left: 175px;
  }
}

.actions-products__price-container {
  @media (min-width: @tablet-width) {
    grid-area: down;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-right: auto;
  }

  @media (min-width: @desktop-width) {
    padding-left: 175px;
  }
}

.actions-products__image-container {
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    grid-area: image;
    margin-left: auto;
    width: 334px;
    height: 404px;
  }

  @media (min-width: @desktop-width) {
    width: 525px;
    height: 636px;
    z-index: 1;
  }
}

.actions-products__image {
  @media (min-width: @tablet-width) {
    background-image: url("/img/triple-set-tablet.jpg");
    background-repeat: no-repeat;
    width: 334px;
    height: 404px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("/img/triple-set-desktop.jpg");
    background-repeat: no-repeat;
    width: 525px;
    height: 636px;
  }
}

.actions-products__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    order: 2;
    margin-left: 0;
    padding-left: 61px;
    padding-top: 61px;
    font-size: 53px;
    line-height: 57px;
  }
}

.actions-products__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;

  @media (min-width: @desktop-width) {
    margin: 0;
    padding-left: 32px;
    padding-top: 69px;
  }
}

.actions-products__text br {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.actions-products__description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.actions-products__table {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #444444;
}

.actions-products__price {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
}
