.categories__text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  min-height: 282px;
  background-image: url("/img/background-mobile.png");
  background-repeat: no-repeat;
  background-color: #fafafa;
}

.categories__list {
  padding: 0;
  list-style-type: none;
}

.categories__item {
  min-height: 103px;
  background-color: #63d1bb;
}

.categories__item:nth-child(2n) {
  background-color: #56c3b2;
}

.categories__link {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}
