.contacts {
  margin-bottom: 39px;

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    padding: 0 50px;
    max-width: 1150px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 462px 527px;
    grid-template-areas:
      "left-top right"
      "left-middle right"
      "left-bottom right";
  }
}

.contacts__container {
  padding: 0 30px;

  @media (min-width: @tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: @desktop-width) {
    grid-area: left-top;
  }
}

.contacts__button-container {
  @media (min-width: @desktop-width) {
    grid-area: left-bottom;
  }
}

.contacts__e-mail {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.contacts__adress {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.contacts__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.contacts__info {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #444444;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    grid-area: left-middle;
  }
}

.contacts__link {
  text-decoration: none;
  color: #444444;
}
