.field-text-add {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  min-width: 260px;
  min-height: 142px;
  background-color: #ffffff;
  border: 2px solid #444444;
  box-sizing: border-box;
}
