.page-header {
  align-items: center;
  max-width: 1150px;
  margin: 0 auto;
  box-shadow: 0 1px 0 #ececec,
    inset 0 1px 0 #ececec;
  z-index: 3;

  @media (min-width: @tablet-width) {
    position: static;
    display: block;
    height: 88px;
    box-shadow: none;
  }
}
