.page-footer {
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  padding: 0 30px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 51px 50px 58px 50px;
  }
}

.page-footer__logo-container {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}
