.social {
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: @tablet-width) {
    border-bottom: none;
  }
}

.social__list {
  display: grid;
  grid-template-columns: 30px 30px 30px;
  gap: 41px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
